$marginX: .6rem;
@mixin hide-on-mobile {
	@media screen and (max-width: 420px) {
		display: none
	}
}

@mixin align-head {
	flex-basis: 25%;
	padding: 1rem $marginX;
}

@mixin align-list {
	flex-basis: 25%;
	padding: 1rem $marginX;
	text-align: left;
}

.contacts {
	padding-left: 15%;
	padding-right: 15%;
	height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
	@media screen and (max-width: 420px) {
		padding-left: 0;
		padding-right: 0;
		height: calc(80.5vh - 4px);
	}
	&__heading {
		border-bottom: 1px solid silver;
		position: sticky;
		top: 0;
		background: white;
	}

	&__list {

	}
	&__counter {
    padding: 1rem $marginX .3rem $marginX;
  }

}

.heading {
	display: flex;
	justify-content: space-between;
	font-weight: bold;

	&__item {
		@include align-head;

	}
	@include hide-on-mobile;
}

.counter {
  width: calc(100% - 16px);
  color: silver;
  font-weight: 500;
}

.list {

	&__item {


	}

}

.item {
	display: flex;
	justify-content: space-between;
	cursor: pointer;

	&__name {
		@include align-head;
		@media screen and (max-width: 420px) {
			flex-basis: calc(100% - 16px);
		}
	}

	&__column:not(.item__name) {
		@include align-head;
		@include hide-on-mobile;
	}

}
