body {
  font-family: 'Arial', sans-serif;
  // box-sizing: border-box;
  height: 100vh;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 14px;
  @media screen and (max-width: 420px) {
    margin: 8px;
  }
}
